@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1a4dbe;
  --color-secondary: #ffffff;
  --color-accent: "#F5FAFF";
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: "#FFCC00";
  --color-secondary: "#131417";
  --color-accent: "#2c303a";
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arimo {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;   
  font-style: normal;
}

.active {
  @apply text-primary;
}

@layer components {
  .btn-main {
    @apply btn rounded-full bg-primary text-secondary btn-lg border-none hover:bg-primary/90;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}
