@import "tailwindcss";
@plugin 'daisyui';
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1a4dbe;
  --color-secondary: #ffffff;
  --color-accent: "#F5FAFF";
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: "#FFCC00";
  --color-secondary: "#131417";
  --color-accent: "#2c303a";
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .btn-main {
    @apply btn rounded-full bg-primary text-secondary btn-lg border-none hover:bg-primary/90;
  }
}
